<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wheresmystuff"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.wheresmystuff.View.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.wheresmystuff.View.Register"
            android:label="Register" >
        </activity>
        <activity
            android:name="com.example.wheresmystuff.Security"
            android:label="Security" >
        </activity>
        <activity android:name="com.example.wheresmystuff.View.mainUserScreen" >
        </activity>
        <activity android:name="com.example.wheresmystuff.View.DisplayItems" >
        </activity>
        <activity android:name="com.example.wheresmystuff.View.Register_Item" >
        </activity>
        <activity android:name="com.example.wheresmystuff.View.LostItemTab" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity android:name="com.example.wheresmystuff.View.FoundItemsTab" >
        </activity>
        <activity android:name="com.example.wheresmystuff.View.Donations" >
        </activity>
        <activity android:name="com.example.wheresmystuff.View.Needed" >
        </activity>
        <activity
            android:name="com.example.wheresmystuff.View.AddRemoveAdmin"
            android:label="@string/title_activity_add_remove_admin" >
        </activity>
        <activity android:name=".View.LockOrUnlock"></activity>
        <activity android:name=".View.RemoveUser"></activity>
        <activity android:name=".View.DisplayAllItems"></activity>
        
        
    </application>

</manifest>